.comp-plgconf__body__cities__city input {
  all: unset;
}

.comp-plgconf__body__cities__city input:hover {
  all: unset;
}

.comp-plgconf__body__cities__city #spromo-tags,
.comp-plgconf__body__cities__city .choices__input.choices__input--cloned {
  width: inherit !important;
  height: 100% !important;
  padding: 11px !important;
}

.comp-plgconf__body__cities__city .choices__list--multiple .choices__item{
  background-color: #007e47 !important;
  border: 0 !important;
  margin:2px;
}
.comp-plgconf__body__cities__city .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button{
  border-color:white;
}
#spromo_custom_conf_overlay {
  overflow: auto;
  top: 0;
  z-index: 100100;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(10, 10, 10, 0.5);
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.comp-plgconf {
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.comp-plgconf .input-class {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #a8a8a8;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  color: #5a5a5a;
}

.comp-plgconf .input-class--full {
  font-size: 16px;
  border-radius: 0;
  border-bottom: solid 2px #a8a8a8;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #007e47;
  box-shadow: none;
}

.comp-plgconf .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0 dotted #545459;
}

.comp-plgconf .tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: #545459;
  color: #fff;
  text-align: center;
  padding: 9px 15px;
  border-radius: 6px;
  top: -12px;
  right: 110%;
  position: absolute;
  z-index: 100121;
}

.comp-plgconf .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #545459;
}

.comp-plgconf .tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.comp-plgconf .tooltip .tooltiptext {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.comp-plgconf .tooltip:hover .tooltiptext {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}

.comp-plgconf__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #007e47;
  padding: 14px 30px 14px 30px;
}

.comp-plgconf__title strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.comp-plgconf__title a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}

.comp-plgconf__body {
  background-color: #ffffff;
}

.comp-plgconf__body .is-invalid-msg {
  display: none;
}

.comp-plgconf__body .is-invalid {
  display: flex;
  flex-flow: column nowrap;
}

.comp-plgconf__body .is-invalid .choices {
  margin-bottom: 0;
}

.comp-plgconf__body .is-invalid .choices__inner {
  border: 1px solid #f44336;
}

.comp-plgconf__body .is-invalid .input-class {
  border: 1px solid #f44336;
}

.comp-plgconf__body .is-invalid .input-class--full {
  border: none;
  border-bottom: solid 2px #f44336;
}

.comp-plgconf__body .is-invalid .is-invalid-msg {
  color: #f44336;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.comp-plgconf__body__title {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  border-bottom: solid 1px #eceff1;
  align-items: center;
}

.comp-plgconf__body__title strong {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #007e47;
  height: 20px;
}

.comp-plgconf__body__title picture {
  display: flex;
  text-align: right;
  align-items: center;
}

.comp-plgconf__body__title span {
  width: 100%;
}

.comp-plgconf__body__title span .is-invalid-msg {
  display: none;
}

.comp-plgconf__body__title span.is-invalid .input-class--full {
  border-bottom: solid 2px #f44336;
}

.comp-plgconf__body__title span.is-invalid .is-invalid-msg {
  color: #f44336;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.comp-plgconf__body__title .line-input {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px;
}

.comp-plgconf__body__title .line-input .is-invalid-msg {
  display: none;
  font-size: 12px;
  color: #f44336;
  font-family: 'Open Sans', sans-serif;
}

.comp-plgconf__body__title .line-input input,
.comp-plgconf__body__title .line-input select {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.comp-plgconf__body__title .line-input.is-invalid input,
.comp-plgconf__body__title .line-input.is-invalid select {
  border-color: #f44336;
}

.comp-plgconf__body__title .line-input.is-invalid .is-invalid-msg {
  font-size: 12px;
  border-color: #f44336;
  display: block;
}

.comp-plgconf__body__cities {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.comp-plgconf__body__border__bt {
  border-bottom: solid 1px #eceff1;
}

.comp-plgconf__body__cities__city {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
}

.comp-plgconf__body__cities__city .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px;
}

.comp-plgconf__body__cities__city .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8;
}

.comp-plgconf__body__cities__city .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px;
}

.comp-plgconf__body__cities__city .line-options input[type="radio"] {
  margin-left: 0;
}

.comp-plgconf__body__cities__city .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.comp-plgconf__body__cities__city .line-input {
  display: flex;
}

.comp-plgconf__body__cities__city .line-input>input {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.comp-plgconf__body__cities__arrow {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  margin-bottom: 15px;
}

.comp-plgconf__body__change-option {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1;
}

.comp-plgconf__body__change-option .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #545459;
  margin-bottom: 20px;
  font-weight: 400;
}

.comp-plgconf__body__change-option .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px;
}

.comp-plgconf__body__change-option .line-options input[type="radio"] {
  margin-left: 0;
}

.comp-plgconf__body__change-option .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.comp-plgconf__body__datas {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1;
}

.comp-plgconf__body__datas .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px;
}

.comp-plgconf__body__datas .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8;
}

.comp-plgconf__body__datas .date-select {
  display: flex;
}

.comp-plgconf__body__datas .date-select select {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.comp-plgconf__body__datas .presset-select {
  display: flex;
  flex-flow: column nowrap;
}

.comp-plgconf__body__datas .presset-select .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #545459;
}

.comp-plgconf__body__datas .presset-select .presset-buttons {
  display: flex;
}

.comp-plgconf__body__datas .presset-select .presset-buttons a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #545459;
  border-radius: 3px;
  border: solid 1px #c5c5c5;
  text-decoration: none;
  padding: 6px 17px 6px 17px;
  margin-top: 10px;
  margin-right: 10px;
}

.comp-plgconf__body__datas text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.comp-plgconf__body__datas__sign {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
}

.comp-plgconf__body__configuration {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1;
}

.comp-plgconf__body__tag-qtd {
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
}

.comp-plgconf__body__tag-qtd .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px;
}

.comp-plgconf__body__tag-qtd .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8;
}

.comp-plgconf__body__tag-qtd .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px;
}

.comp-plgconf__body__tag-qtd .line-options input[type="radio"] {
  margin-left: 0;
}

.comp-plgconf__body__tag-qtd .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.comp-plgconf__body__tag-qtd .line-input {
  display: flex;
  flex-flow: column nowrap;
}

.comp-plgconf__body__tag-qtd .line-input .is-invalid-msg {
  display: none;
  font-size: 12px;
  color: #f44336;
  font-family: 'Open Sans', sans-serif;
}

.comp-plgconf__body__tag-qtd .line-input input,
.comp-plgconf__body__tag-qtd .line-input select {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.comp-plgconf__body__tag-qtd .line-input.is-invalid input,
.comp-plgconf__body__tag-qtd .line-input.is-invalid select {
  border-color: #f44336;
}

.comp-plgconf__body__tag-qtd .line-input.is-invalid .is-invalid-msg {
  font-size: 12px;
  border-color: #f44336;
  display: block;
}

.comp-plgconf__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.comp-plgconf__footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 700;
  text-decoration: none;
}

.comp-plgconf__footer a.cancel {
  color: #a8a8a8;
}

.comp-plgconf__footer a.insert {
  color: #007e47;
}

.is-hidden {
  display: none !important;
}

.comp-plgconf__body__geolocation__container {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  width: 100%;
  border-radius: 5px;
}

.comp-plgconf__body__geolocation__container span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #545459;
}

.comp-plgconf__body__geolocation__container .tooltip .tooltiptext {
  right: unset;
}

.comp-plgconf__body__geolocation__container .tooltip .tooltiptext::after {
  display: none;
}

.comp-plgconf__body__geolocation__container .tooltip .tooltiptext::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #545459 transparent transparent;
}

.comp-plgconf__body__geolocation__container picture {
  margin-right: 12px;
}

.comp-plgconf__body__geolocation {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #e5f3ff;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
}

.comp-plgconf__body__cities__city.is-disabled * {
  color: #a8a8a8;
}

input.input-class:disabled {
  background-color: rgba(197, 197, 197, 0.3);
  color: #a8a8a8;
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 18px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #007e47;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -1.2px;
  bottom: -0.99px;
  background-color: #e5f3ff;
  box-sizing: border-box;
  border: 1.5px solid #007e47;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #007e47;
}

input:focus+.slider {
  box-shadow: 0 0 1px #007e47;
}

input:checked+.slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}