@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);.comp-plgconf__body__cities__city input {
  all: unset; }

.comp-plgconf__body__cities__city input:hover {
  all: unset; }

.comp-plgconf__body__cities__city #spromo-tags,
.comp-plgconf__body__cities__city .choices__input.choices__input--cloned {
  width: inherit !important;
  height: 100% !important;
  padding: 11px !important; }

.comp-plgconf__body__cities__city .choices__list--multiple .choices__item {
  background-color: #007e47 !important;
  border: 0 !important;
  margin: 2px; }

.comp-plgconf__body__cities__city .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
  border-color: white; }

#spromo_custom_conf_overlay {
  overflow: auto;
  top: 0;
  z-index: 100100;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(10, 10, 10, 0.5);
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }

.comp-plgconf {
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; }

.comp-plgconf .input-class {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #a8a8a8;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  color: #5a5a5a; }

.comp-plgconf .input-class--full {
  font-size: 16px;
  border-radius: 0;
  border-bottom: solid 2px #a8a8a8;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #007e47;
  box-shadow: none; }

.comp-plgconf .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0 dotted #545459; }

.comp-plgconf .tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: #545459;
  color: #fff;
  text-align: center;
  padding: 9px 15px;
  border-radius: 6px;
  top: -12px;
  right: 110%;
  position: absolute;
  z-index: 100121; }

.comp-plgconf .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #545459; }

.comp-plgconf .tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }

.comp-plgconf .tooltip .tooltiptext {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

.comp-plgconf .tooltip:hover .tooltiptext {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1; }

.comp-plgconf__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #007e47;
  padding: 14px 30px 14px 30px; }

.comp-plgconf__title strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff; }

.comp-plgconf__title a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff; }

.comp-plgconf__body {
  background-color: #ffffff; }

.comp-plgconf__body .is-invalid-msg {
  display: none; }

.comp-plgconf__body .is-invalid {
  display: flex;
  flex-flow: column nowrap; }

.comp-plgconf__body .is-invalid .choices {
  margin-bottom: 0; }

.comp-plgconf__body .is-invalid .choices__inner {
  border: 1px solid #f44336; }

.comp-plgconf__body .is-invalid .input-class {
  border: 1px solid #f44336; }

.comp-plgconf__body .is-invalid .input-class--full {
  border: none;
  border-bottom: solid 2px #f44336; }

.comp-plgconf__body .is-invalid .is-invalid-msg {
  color: #f44336;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block; }

.comp-plgconf__body__title {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  border-bottom: solid 1px #eceff1;
  align-items: center; }

.comp-plgconf__body__title strong {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #007e47;
  height: 20px; }

.comp-plgconf__body__title picture {
  display: flex;
  text-align: right;
  align-items: center; }

.comp-plgconf__body__title span {
  width: 100%; }

.comp-plgconf__body__title span .is-invalid-msg {
  display: none; }

.comp-plgconf__body__title span.is-invalid .input-class--full {
  border-bottom: solid 2px #f44336; }

.comp-plgconf__body__title span.is-invalid .is-invalid-msg {
  color: #f44336;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block; }

.comp-plgconf__body__title .line-input {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px; }

.comp-plgconf__body__title .line-input .is-invalid-msg {
  display: none;
  font-size: 12px;
  color: #f44336;
  font-family: 'Open Sans', sans-serif; }

.comp-plgconf__body__title .line-input input,
.comp-plgconf__body__title .line-input select {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px; }

.comp-plgconf__body__title .line-input.is-invalid input,
.comp-plgconf__body__title .line-input.is-invalid select {
  border-color: #f44336; }

.comp-plgconf__body__title .line-input.is-invalid .is-invalid-msg {
  font-size: 12px;
  border-color: #f44336;
  display: block; }

.comp-plgconf__body__cities {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: space-between; }

.comp-plgconf__body__border__bt {
  border-bottom: solid 1px #eceff1; }

.comp-plgconf__body__cities__city {
  display: flex;
  flex-flow: column nowrap;
  width: 45%; }

.comp-plgconf__body__cities__city .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px; }

.comp-plgconf__body__cities__city .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8; }

.comp-plgconf__body__cities__city .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px; }

.comp-plgconf__body__cities__city .line-options input[type="radio"] {
  margin-left: 0; }

.comp-plgconf__body__cities__city .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center; }

.comp-plgconf__body__cities__city .line-input {
  display: flex; }

.comp-plgconf__body__cities__city .line-input > input {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px; }

.comp-plgconf__body__cities__arrow {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  margin-bottom: 15px; }

.comp-plgconf__body__change-option {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1; }

.comp-plgconf__body__change-option .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #545459;
  margin-bottom: 20px;
  font-weight: 400; }

.comp-plgconf__body__change-option .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px; }

.comp-plgconf__body__change-option .line-options input[type="radio"] {
  margin-left: 0; }

.comp-plgconf__body__change-option .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center; }

.comp-plgconf__body__datas {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1; }

.comp-plgconf__body__datas .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px; }

.comp-plgconf__body__datas .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8; }

.comp-plgconf__body__datas .date-select {
  display: flex; }

.comp-plgconf__body__datas .date-select select {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.comp-plgconf__body__datas .presset-select {
  display: flex;
  flex-flow: column nowrap; }

.comp-plgconf__body__datas .presset-select .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #545459; }

.comp-plgconf__body__datas .presset-select .presset-buttons {
  display: flex; }

.comp-plgconf__body__datas .presset-select .presset-buttons a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #545459;
  border-radius: 3px;
  border: solid 1px #c5c5c5;
  text-decoration: none;
  padding: 6px 17px 6px 17px;
  margin-top: 10px;
  margin-right: 10px; }

.comp-plgconf__body__datas text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }

.comp-plgconf__body__datas__sign {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end; }

.comp-plgconf__body__configuration {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1; }

.comp-plgconf__body__tag-qtd {
  display: flex;
  flex-flow: column nowrap;
  width: 45%; }

.comp-plgconf__body__tag-qtd .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px; }

.comp-plgconf__body__tag-qtd .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8; }

.comp-plgconf__body__tag-qtd .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px; }

.comp-plgconf__body__tag-qtd .line-options input[type="radio"] {
  margin-left: 0; }

.comp-plgconf__body__tag-qtd .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center; }

.comp-plgconf__body__tag-qtd .line-input {
  display: flex;
  flex-flow: column nowrap; }

.comp-plgconf__body__tag-qtd .line-input .is-invalid-msg {
  display: none;
  font-size: 12px;
  color: #f44336;
  font-family: 'Open Sans', sans-serif; }

.comp-plgconf__body__tag-qtd .line-input input,
.comp-plgconf__body__tag-qtd .line-input select {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px; }

.comp-plgconf__body__tag-qtd .line-input.is-invalid input,
.comp-plgconf__body__tag-qtd .line-input.is-invalid select {
  border-color: #f44336; }

.comp-plgconf__body__tag-qtd .line-input.is-invalid .is-invalid-msg {
  font-size: 12px;
  border-color: #f44336;
  display: block; }

.comp-plgconf__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.comp-plgconf__footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 700;
  text-decoration: none; }

.comp-plgconf__footer a.cancel {
  color: #a8a8a8; }

.comp-plgconf__footer a.insert {
  color: #007e47; }

.is-hidden {
  display: none !important; }

.comp-plgconf__body__geolocation__container {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  width: 100%;
  border-radius: 5px; }

.comp-plgconf__body__geolocation__container span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #545459; }

.comp-plgconf__body__geolocation__container .tooltip .tooltiptext {
  right: unset; }

.comp-plgconf__body__geolocation__container .tooltip .tooltiptext::after {
  display: none; }

.comp-plgconf__body__geolocation__container .tooltip .tooltiptext::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #545459 transparent transparent; }

.comp-plgconf__body__geolocation__container picture {
  margin-right: 12px; }

.comp-plgconf__body__geolocation {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #e5f3ff;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47; }

.comp-plgconf__body__cities__city.is-disabled * {
  color: #a8a8a8; }

input.input-class:disabled {
  background-color: rgba(197, 197, 197, 0.3);
  color: #a8a8a8;
  border: 0; }

.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 18px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #007e47;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -1.2px;
  bottom: -0.99px;
  background-color: #e5f3ff;
  box-sizing: border-box;
  border: 1.5px solid #007e47;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #007e47; }

input:focus + .slider {
  box-shadow: 0 0 1px #007e47; }

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px); }

.slider.round {
  border-radius: 18px; }

.slider.round:before {
  border-radius: 50%; }

:root {
  --cor-bg-principal: brown; }

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.comp-shortcode__header a,
.comp-shortcode__body a,
.comp-shortcode__footer a {
  all: unset; }

.comp-shortcode__header a:hover,
.comp-shortcode__body a:hover,
.comp-shortcode__footer a:hover {
  all: unset; }

.comp-shortcode__header div,
.comp-shortcode__body div,
.comp-shortcode__footer div {
  all: unset; }

.comp-shortcode__header div:hover,
.comp-shortcode__body div:hover,
.comp-shortcode__footer div:hover {
  all: unset; }

.comp-shortcode__header small,
.comp-shortcode__body small,
.comp-shortcode__footer small {
  all: unset; }

.comp-shortcode__header small:hover,
.comp-shortcode__body small:hover,
.comp-shortcode__footer small:hover {
  all: unset; }

.comp-shortcode__header strong,
.comp-shortcode__body strong,
.comp-shortcode__footer strong {
  all: unset; }

.comp-shortcode__header strong:hover,
.comp-shortcode__body strong:hover,
.comp-shortcode__footer strong:hover {
  all: unset; }

.comp-shortcode__header strong,
.comp-shortcode__body strong,
.comp-shortcode__footer strong {
  all: unset; }

.comp-shortcode__header strong:hover,
.comp-shortcode__body strong:hover,
.comp-shortcode__footer strong:hover {
  all: unset; }

.comp-shortcode__header select,
.comp-shortcode__body select,
.comp-shortcode__footer select {
  all: unset; }

.comp-shortcode__header select:hover,
.comp-shortcode__body select:hover,
.comp-shortcode__footer select:hover {
  all: unset; }

.seguros-promo .comp-newshortcode {
  margin: auto;
  display: grid;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

.seguros-promo .comp-newshortcode .comp-newshortcode__title {
  display: grid;
  min-height: 70px;
  background-color: #007e47;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__choosen {
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__choosen .newshortcode__text__choosen {
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #435162; }

.seguros-promo .comp-newshortcode .comp-newshortcode__choosen .newshortcode__text__choosen_price {
  float: right;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: right;
  color: #435162; }

.seguros-promo .comp-newshortcode .comp-newshortcode__choosen .newshortcode__text__choosen_price b {
  font-size: 16px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__choosen .newshortcode__text__choosen_price strong {
  font-size: 36px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header {
  display: grid;
  color: #ffffff;
  min-height: 45px;
  background-color: #435162;
  align-items: center;
  grid-column-gap: 15px;
  padding-left: 15px;
  padding-right: 15px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header__subtitle {
  font-size: 16px;
  color: #ffffff; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header__logo {
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header__logo a {
  box-shadow: none !important; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header__logo svg {
  width: 110px;
  height: 20px;
  object-fit: contain; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header__selection {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background: url("../assets/drop-down.svg") no-repeat center right #435162;
  border-color: #435162;
  height: 25px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  padding: 0 15px 0 0;
  text-align: right;
  width: auto; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item {
  display: grid;
  grid-gap: 0 5px;
  grid-template-rows: max-content;
  text-decoration: none !important; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item .logo_cia {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  height: unset;
  width: 100px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item .seg_name {
  grid-area: seg_name;
  justify-self: center;
  align-self: center;
  font-size: 12px;
  color: #656565;
  text-align: center; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item .seg_price {
  grid-area: seg_price;
  justify-self: center;
  align-self: end;
  font-size: 17px;
  font-weight: 600;
  color: #545459; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item .seg_price b {
  font-size: 28px;
  margin-left: -5px;
  padding: 0; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item .seg_day_lbl {
  grid-area: seg_day_lbl;
  justify-self: center;
  align-self: normal;
  font-size: 12px;
  color: #a8a8a8;
  text-align: center; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item .selectbtn {
  /* grid-area: selectbtn; */
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  background-color: #007e47;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer !important; }

.seguros-promo .comp-newshortcode .comp-newshortcode__footer {
  display: grid;
  padding: 13px 15px 13px 15px;
  background-color: #435162;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center; }

.seguros-promo .comp-newshortcode .comp-newshortcode__footer .footer_ps {
  font-size: 12px;
  color: #fff; }

.seguros-promo .comp-newshortcode .comp-newshortcode__footer .searchtext {
  display: none; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 {
  max-width: 320px; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__header {
  grid-template-columns: 1fr min-content; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__header__subtitle {
  display: none; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__header__logo {
  text-align: left; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__item {
  grid-template-columns: 4fr 1fr 4fr;
  padding: 15px 15px 15px 15px;
  grid-template-areas: ". . seg_price" "seg_name . seg_day_lbl" ". . arr_date" "logo . selectbtn"; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__item .arr_date {
  margin-top: 8px;
  justify-self: center; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__footer {
  grid-template-columns: auto;
  grid-template-rows: auto; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__footer .footer_ps {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__footer .footer_logo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 8px;
  text-align: center; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__footer .searchtext {
  text-align: center !important; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 {
  max-width: 740px; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__header {
  grid-template-columns: auto 96px min-content; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__header__logo {
  text-align: right; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item {
  grid-template-columns: 4fr 5fr 5fr 3fr;
  padding: 0px 15px 0px 15px;
  grid-template-areas: "logo seg_name seg_price selectbtn" "logo seg_name seg_day_lbl selectbtn"; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item .arr_date {
  justify-self: start; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__footer {
  grid-template-columns: auto min-content; }

.seguros-promo .comp-newshortcode.comp-newshortcode--notitle .comp-newshortcode__title {
  display: none; }

.seguros-promo .comp-newshortcode.comp-newshortcode--notitle .comp-newshortcode__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header {
  grid-template-columns: auto;
  justify-content: center; }

.seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__subtitle {
  font-size: 16px;
  color: #ffffff;
  display: block; }

.seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__logo {
  /* display: none; */ }

.seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__selection {
  display: none; }

.seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer {
  grid-template-columns: auto auto; }

.seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer a {
  text-decoration: none; }

.seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__header .comp-newshortcode__header__logo {
  display: none !important; }

@media only screen and (max-width: 600px) {
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 {
    max-width: 600px; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__header {
    grid-template-columns: auto 96px min-content; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__header__logo {
    text-align: right; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item {
    grid-template-columns: 4fr 4fr 1fr 4fr 4fr;
    padding: 10px 15px 10px 15px;
    grid-template-areas: "logo . . seg_price selectbtn" "logo seg_name . seg_day_lbl selectbtn" "logo . . arr_date selectbtn"; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item .arr_date {
    margin-top: 8px;
    justify-self: center; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__footer {
    grid-template-columns: auto min-content; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--notitle .comp-newshortcode__title {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--notitle .comp-newshortcode__header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header {
    grid-template-columns: auto;
    justify-content: center; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__subtitle {
    font-size: 12px;
    color: #ffffff;
    display: block; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__logo {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__selection {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer {
    grid-template-columns: auto auto; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer a {
    text-decoration: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer .searchlogo {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer .searchtext {
    display: block;
    font-size: 12px;
    text-align: right;
    color: #435162; } }

@media only screen and (max-width: 480px) {
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 {
    max-width: 320px; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__header {
    grid-template-columns: 1fr min-content; }
  .seguros-promo .comp-newshortcode .comp-newshortcode__header__subtitle {
    font-size: 9px !important;
    color: #ffffff;
    font-weight: normal; }
  .seguros-promo .comp-newshortcode .comp-newshortcode__header__subtitle .comp-newshortcode__ideal_para {
    font-size: 10px !important;
    color: #ffffff;
    font-weight: bold; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__header__logo {
    /* text-align: left; */
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item {
    grid-template-columns: 4fr 1fr 4fr;
    padding: 15px 15px 15px 15px;
    grid-template-areas: "seg_name . seg_price" "seg_name . seg_day_lbl" "seg_name . ." "logo . selectbtn"; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item .arr_date {
    margin-top: 8px;
    justify-self: center; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__footer {
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__footer .footer_ps {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__footer .footer_logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 8px;
    text-align: center; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__footer .searchtext {
    text-align: center !important; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--notitle .comp-newshortcode__title {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--notitle .comp-newshortcode__header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header {
    grid-template-columns: auto;
    justify-content: center; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__subtitle {
    font-size: 16px;
    color: #ffffff;
    display: block; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__logo {
    /* display: none; */ }
  .seguros-promo .comp-newshortcode.comp-newshortcode--noorigin .comp-newshortcode__header__selection {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer {
    grid-template-columns: auto auto; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer a {
    text-decoration: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer .searchlogo {
    display: none; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--nologo .comp-newshortcode__footer .searchtext {
    display: block;
    font-size: 12px;
    text-align: right;
    color: #435162; } }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card {
  display: grid;
  grid-gap: 0 5px;
  grid-template-rows: max-content;
  text-decoration: none !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 0 !important;
  margin: 0.95%;
  float: left; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .logo_cia {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  height: 62px;
  width: 62px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .seg_name {
  grid-area: seg_name;
  justify-self: left;
  align-self: center;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c3138; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .selectbtn {
  grid-area: selectbtn;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  background-color: #007e47;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  cursor: pointer !important;
  text-decoration: none; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .selectbtn:hover {
  background-color: #64ba00 !important; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .selectbtn .rightarrow {
  display: none; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .selectbtn:hover > .rightarrow {
  display: inline-block;
  position: absolute;
  margin-left: 17px; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .seg_bag_ext {
  grid-area: seg_bag_ext;
  justify-self: left;
  align-self: center;
  font-size: 12px;
  color: #a8a8a8;
  text-align: left;
  padding-left: 6%; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .seg_assist_med {
  grid-area: seg_assist_med;
  justify-self: left;
  align-self: center;
  font-size: 12px;
  color: #a8a8a8;
  text-align: left;
  padding-left: 6%; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .seg_bag_ext_val {
  grid-area: seg_bag_ext_val;
  justify-self: right;
  align-self: center;
  font-size: 12px;
  color: #a8a8a8;
  text-align: right;
  font-weight: bold;
  padding-right: 10%; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .seg_assist_med_val {
  grid-area: seg_assist_med_val;
  justify-self: right;
  align-self: center;
  font-size: 12px;
  color: #a8a8a8;
  text-align: right;
  font-weight: bold;
  padding-right: 10%; }

.seguros-promo .comp-newshortcode .comp-newshortcode__item-card .seg_division {
  grid-area: seg_division;
  justify-self: center;
  height: 1px;
  border-bottom: solid 0.5px rgba(67, 81, 98, 0.15);
  width: 100%;
  margin-bottom: 10px; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__item-card {
  grid-template-columns: 4fr 1fr 4fr;
  padding: 15px 15px 15px 15px;
  grid-template-areas: ". . seg_price" "seg_name . seg_day_lbl" ". . arr_date" "logo . selectbtn"; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod03 .comp-newshortcode__item-card .arr_date {
  margin-top: 8px;
  justify-self: center; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item-card {
  grid-template-columns: 5fr 2fr 2fr 2fr;
  padding: 0px 15px 0px 15px;
  grid-template-areas: "logo seg_name seg_name ." "logo seg_name seg_name ." "seg_division seg_division seg_division seg_division" "seg_assist_med seg_assist_med seg_assist_med_val seg_assist_med_val" "seg_bag_ext seg_bag_ext seg_bag_ext_val seg_bag_ext_val" "selectbtn selectbtn selectbtn selectbtn"; }

.seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item-card .arr_date {
  justify-self: start; }

.comp-newshortcode__header-card {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important; }

.seguros-promo .comp-newshortcode .comp-newshortcode__footer-card {
  display: grid;
  padding: 3px 15px 0 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center; }

.seguros-promo .comp-newshortcode .comp-newshortcode__footer-card .footer_ps {
  color: #435162; }

.seguros-promo .comp-newshortcode .comp-newshortcode__header.comp-newshortcode__header-widget {
  text-align: center;
  display: inline-block;
  padding-top: 11px; }

.comp-newshortcode__header-widget .comp-newshortcode__header__subtitle {
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  font-weight: 400; }

.comp-newshortcode__header-widget .comp-newshortcode__header__subtitle span {
  font-weight: 500; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .seg_bag_ext {
  grid-area: seg_bag_ext;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  margin-top: 20px; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .seg_assist_med {
  grid-area: seg_assist_med;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  margin-top: 20px; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .seg_bag_ext_val {
  grid-area: seg_bag_ext_val;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  color: #a8a8a8;
  text-align: center;
  font-weight: 500;
  padding: 0; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .seg_assist_med_val {
  grid-area: seg_assist_med_val;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  color: #a8a8a8;
  text-align: center;
  font-weight: 500;
  padding: 0; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .logo_cia {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  height: 85px;
  width: 85px; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .seg_name {
  grid-area: seg_name;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #435162;
  padding: 0 8px; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .selectbtn {
  grid-area: selectbtn;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  background-color: #007e47;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  cursor: pointer !important;
  text-decoration: none; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .seg_division {
  grid-area: seg_division;
  justify-self: center;
  height: 0;
  border-bottom: solid 0.5px rgba(67, 81, 98, 0.15);
  width: 100%;
  margin-bottom: 0px; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card {
  box-shadow: none;
  width: 100% !important;
  margin: 0 !important;
  background-color: #f0f3f5;
  grid-template-columns: 4fr 4fr 4fr;
  border-radius: 0;
  grid-template-areas: "logo seg_assist_med seg_bag_ext" "logo seg_assist_med seg_bag_ext" "logo seg_assist_med seg_bag_ext" "logo seg_assist_med_val seg_bag_ext_val" "logo seg_assist_med_val seg_bag_ext_val" "seg_name selectbtn selectbtn" "seg_division seg_division seg_division"; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__item-card .best-deal-svg {
  position: absolute;
  margin-top: -1px; }

.seguros-promo .comp-newshortcode.comp-newshortcode-widget .comp-newshortcode__footer-widget {
  border-radius: 0 0 5px 5px;
  height: 30px;
  display: block;
  text-align: center;
  padding-top: 12px; }

.comp-newshortcode__widget__logo svg {
  width: 110px;
  height: 20px; }

@media only screen and (max-width: 600px) {
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item-card {
    grid-template-columns: 4fr 4fr 4fr;
    padding: 15px 15px 15px 15px;
    margin-top: 12px;
    grid-template-areas: "logo seg_name seg_name" "logo seg_name seg_name ." "seg_division seg_division seg_division seg_division" "seg_assist_med seg_assist_med seg_assist_med seg_assist_med_val" "seg_bag_ext seg_bag_ext seg_bag_ext seg_bag_ext_val" "selectbtn selectbtn selectbtn selectbtn"; }
  .seguros-promo .comp-newshortcode.comp-newshortcode--mod01 .comp-newshortcode__item-card .arr_date {
    margin-top: 8px;
    justify-self: center; }
  .seguros-promo .comp-newshortcode .comp-newshortcode__item-card {
    width: 98% !important; }
  .seguros-promo .comp-newshortcode .comp-newshortcode__item-card .best-deal-svg svg {
    float: right;
    margin-right: 25%; } }

.comp-plgconf__body__cities__city input {
  all: unset; }

.comp-plgconf__body__cities__city input:hover {
  all: unset; }

.comp-plgconf__body__cities__city #spromo-tags,
.comp-plgconf__body__cities__city .choices__input.choices__input--cloned {
  width: inherit !important;
  height: 100% !important;
  padding: 11px !important; }

.comp-plgconf__body__cities__city .choices__list--multiple .choices__item {
  background-color: #007e47 !important;
  border: 0 !important;
  margin: 2px; }

.comp-plgconf__body__cities__city .choices[data-type*="select-multiple"] .choices__button, .choices[data-type*="text"] .choices__button {
  border-color: white; }

#spromo_custom_conf_overlay {
  overflow: auto;
  top: 0;
  z-index: 100100;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(10, 10, 10, 0.5);
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }

#spromo_custom_conf_overlay .comp-plgconf {
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; }

#spromo_custom_conf_overlay .comp-plgconf .input-class {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #a8a8a8;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  color: #5a5a5a; }

#spromo_custom_conf_overlay .comp-plgconf .input-class--full {
  font-size: 16px;
  border-radius: 0;
  border-bottom: solid 2px #a8a8a8;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #007e47;
  box-shadow: none; }

#spromo_custom_conf_overlay .comp-plgconf .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0 dotted #545459; }

#spromo_custom_conf_overlay .comp-plgconf .tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: #545459;
  color: #fff;
  text-align: center;
  padding: 9px 15px;
  border-radius: 6px;
  top: -12px;
  right: 110%;
  position: absolute;
  z-index: 100121; }

#spromo_custom_conf_overlay .comp-plgconf .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #545459; }

#spromo_custom_conf_overlay .comp-plgconf .tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }

#spromo_custom_conf_overlay .comp-plgconf .tooltip .tooltiptext {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

#spromo_custom_conf_overlay .comp-plgconf .tooltip:hover .tooltiptext {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1; }

#spromo_custom_conf_overlay .comp-plgconf__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #007e47;
  padding: 14px 30px 14px 30px; }

#spromo_custom_conf_overlay .comp-plgconf__title strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff; }

#spromo_custom_conf_overlay .comp-plgconf__title a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff; }

#spromo_custom_conf_overlay .comp-plgconf__body {
  background-color: #ffffff; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid-msg {
  display: none; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid {
  display: flex;
  flex-flow: column nowrap; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid .choices {
  margin-bottom: 0; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid .choices__inner {
  border: 1px solid #f44336; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid .input-class {
  border: 1px solid #f44336; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid .input-class--full {
  border: none;
  border-bottom: solid 2px #f44336; }

#spromo_custom_conf_overlay .comp-plgconf__body .is-invalid .is-invalid-msg {
  color: #f44336;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block; }

#spromo_custom_conf_overlay .comp-plgconf__body__title {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  border-bottom: solid 1px #eceff1;
  align-items: center; }

#spromo_custom_conf_overlay .comp-plgconf__body__title strong {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #007e47;
  height: 20px; }

#spromo_custom_conf_overlay .comp-plgconf__body__title picture {
  display: flex;
  text-align: right;
  align-items: center; }

#spromo_custom_conf_overlay .comp-plgconf__body__title span {
  width: 100%; }

#spromo_custom_conf_overlay .comp-plgconf__body__title span .is-invalid-msg {
  display: none; }

#spromo_custom_conf_overlay .comp-plgconf__body__title span.is-invalid .input-class--full {
  border-bottom: solid 2px #f44336; }

#spromo_custom_conf_overlay .comp-plgconf__body__title span.is-invalid .is-invalid-msg {
  color: #f44336;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block; }

#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px; }

#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input .is-invalid-msg {
  display: none;
  font-size: 12px;
  color: #f44336;
  font-family: 'Open Sans', sans-serif; }

#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input input,
#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input select {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px; }

#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input.is-invalid input,
#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input.is-invalid select {
  border-color: #f44336; }

#spromo_custom_conf_overlay .comp-plgconf__body__title .line-input.is-invalid .is-invalid-msg {
  font-size: 12px;
  border-color: #f44336;
  display: block; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: space-between; }

#spromo_custom_conf_overlay .comp-plgconf__body__border__bt {
  border-bottom: solid 1px #eceff1; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city {
  display: flex;
  flex-flow: column nowrap;
  width: 45%; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-options input[type="radio"] {
  margin-left: 0; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-input {
  display: flex; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city .line-input > input {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__arrow {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__change-option {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1; }

#spromo_custom_conf_overlay .comp-plgconf__body__change-option .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #545459;
  margin-bottom: 20px;
  font-weight: 400; }

#spromo_custom_conf_overlay .comp-plgconf__body__change-option .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__change-option .line-options input[type="radio"] {
  margin-left: 0; }

#spromo_custom_conf_overlay .comp-plgconf__body__change-option .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .date-select {
  display: flex; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .date-select select {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .presset-select {
  display: flex;
  flex-flow: column nowrap; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .presset-select .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #545459; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .presset-select .presset-buttons {
  display: flex; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas .presset-select .presset-buttons a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #545459;
  border-radius: 3px;
  border: solid 1px #c5c5c5;
  text-decoration: none;
  padding: 6px 17px 6px 17px;
  margin-top: 10px;
  margin-right: 10px; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal; }

#spromo_custom_conf_overlay .comp-plgconf__body__datas__sign {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end; }

#spromo_custom_conf_overlay .comp-plgconf__body__configuration {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px;
  justify-content: space-between;
  border-bottom: solid 1px #eceff1; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd {
  display: flex;
  flex-flow: column nowrap;
  width: 45%; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-label span {
  font-size: 12px;
  font-weight: 400;
  color: #a8a8a8; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-options {
  display: flex;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  margin-bottom: 15px; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-options input[type="radio"] {
  margin-left: 0; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-options span {
  margin-right: 10px;
  display: flex;
  align-items: center; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input {
  display: flex;
  flex-flow: column nowrap; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input .is-invalid-msg {
  display: none;
  font-size: 12px;
  color: #f44336;
  font-family: 'Open Sans', sans-serif; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input input,
#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input select {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
  padding-right: 10px; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input.is-invalid input,
#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input.is-invalid select {
  border-color: #f44336; }

#spromo_custom_conf_overlay .comp-plgconf__body__tag-qtd .line-input.is-invalid .is-invalid-msg {
  font-size: 12px;
  border-color: #f44336;
  display: block; }

#spromo_custom_conf_overlay .comp-plgconf__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#spromo_custom_conf_overlay .comp-plgconf__footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 700;
  text-decoration: none; }

#spromo_custom_conf_overlay .comp-plgconf__footer a.cancel {
  color: #a8a8a8; }

#spromo_custom_conf_overlay .comp-plgconf__footer a.insert {
  color: #007e47; }

#spromo_custom_conf_overlay .is-hidden {
  display: none !important; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation__container {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  width: 100%;
  border-radius: 5px; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation__container span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #545459; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation__container .tooltip .tooltiptext {
  right: unset; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation__container .tooltip .tooltiptext::after {
  display: none; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation__container .tooltip .tooltiptext::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #545459 transparent transparent; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation__container picture {
  margin-right: 12px; }

#spromo_custom_conf_overlay .comp-plgconf__body__geolocation {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #e5f3ff;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #007e47; }

#spromo_custom_conf_overlay .comp-plgconf__body__cities__city.is-disabled * {
  color: #a8a8a8; }

#spromo_custom_conf_overlay input.input-class:disabled {
  background-color: rgba(197, 197, 197, 0.3);
  color: #a8a8a8;
  border: 0; }

#spromo_custom_conf_overlay .switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 18px; }

#spromo_custom_conf_overlay .switch input {
  display: none; }

#spromo_custom_conf_overlay .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid #007e47;
  -webkit-transition: .4s;
  transition: .4s; }

#spromo_custom_conf_overlay .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -1.2px;
  bottom: -0.99px;
  background-color: #e5f3ff;
  box-sizing: border-box;
  border: 1.5px solid #007e47;
  -webkit-transition: .4s;
  transition: .4s; }

#spromo_custom_conf_overlay input:checked + .slider {
  background-color: #007e47; }

#spromo_custom_conf_overlay input:focus + .slider {
  box-shadow: 0 0 1px #007e47; }

#spromo_custom_conf_overlay input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px); }

#spromo_custom_conf_overlay .slider.round {
  border-radius: 18px; }

#spromo_custom_conf_overlay .slider.round:before {
  border-radius: 50%; }
